mixin m_product(product)
  .ui.divider

  .ui.accordion 
    .title 
      .ui.header 
        img.ui.mini.image(src=product.img)
        .content
          | #{product.name}
          .sub.header 
            i.ui.map.marker.alternate.icon
            span #{product.loc}

    .content 
      .ui.segments 
        .ui.segment
          .ui.top.attached.label Crafting Tree 
          .ui.list
            each mat in product.mats
              +m_product_material(mat)

        .ui.segment
          .ui.top.attached.label Total Materials 
          div 
            each mat in product.totals
              .ui.avatar.image 
                image(src=mat.img)
                .item-label #{mat.qty}
