doctype html
html(lang="en")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon" type="image/x-icon" href="images/favicon.png")

    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css")
    link(rel="stylesheet", href="styles.css")

    title Cookie Run Kingdom: Raw Materials

  body
    .ui.container 
      h1 Raw Materials

      table.ui.selectable.table
        thead 
          tr 
            th Building 
            th Material 
            th Qty
            th Time
            th Time per Unit
            th Units per Day
        each building in materialBuildings
          tbody 
            each set, setIndex in building.res.sets
              if setIndex === 0
                tr 
                  td(rowspan=building.res.sets.length+1)
                    b #{building.name}
                    img.ui.image.building-image(src=building.img)
              tr
                td
                  h4.ui.image.header 
                    img.ui.mini.image(src=set.img)
                    .content #{set.name}
                td x#{set.qty}
                td #{set.time}
                td #{set.timePerUnit}
                td #{set.unitsPerDay}

    script(src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js", integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js", integrity="sha256-CgSoWC9w5wNmI1aN8dIMK+6DPelUEtvDr+Bc2m/0Nx8=", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js", integrity="sha256-ZSnrWNaPzGe8v25yP0S6YaMaDLMTDHC+4mHTw0xydEk=", crossorigin="anonymous")
    script(src="scripts.js")

